@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  font-family: "Poppins", "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 35px;
}

div {
  font-size: 25px;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 0 36px;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: rgb(40, 81, 232);
  transition: 0.2s ease-in;
}

main {
  min-height: 81vh;
}
.container {
  background-color: antiquewhite;
  max-width: 80vw;
  margin: auto;
}

footer {
  color: white;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
